.linkItem {
	display: inline-block;
}

.linkItem::after {
	content: '';
	display: block;
	width: 0%;
	max-width: 100%;
	height: 2px;
	background: blue !important;
	transition: width 0.3s;
}

.linkItem:hover::after {
	width: 100%;
	max-width: 100%;
	transition: width 0.3s;
	font-weight: 900;
}

@media only screen and (max-width: 770px) {
	.linkItem::after {
		max-width: 100px;
	}
	.linkItem:hover::after{
		max-width: 100px;
	}
}