.moviesListWord {
    font-size: 58px !important;
    text-align: center;
    padding: 0px 60px 0px 60px;
    font-family: "Urban Jungle";
}
.moviesListLink {
    padding: 0px 30px 10px 30px;
}
.moviesListClass {
    max-width: 250px;
    display: inline-flex !important;
    min-width: 200px;
    padding: 0px 0px 15px 20px;
    text-align: center;
    min-height: 110px;
}
